{% spaceless %}
<div class="navigation">
  <ul>
    <li><a href="{{ constant('URL') }}">Home</a></li>
    <!--
    <li>Web Development
      <ul>
        <li><a href="{{ constant('URL') }}portfolio/demos/">Demos</a></li>
        <li><a href="{{ constant('URL') }}portfolio/">Portfolio</a></li>
      </ul>
    </li>
    -->
    <li><a href="{{ constant('URL') }}portfolio/">Portfolio</a></li>
    <li>Hockey
      <ul>
        <li><a href="{{ constant('URL') }}hockey/">Index</a></li>
        <li><a href="{{ constant('URL') }}hockey/teams/">Teams</a></li>
        <li><a href="{{ constant('URL') }}hockey/players/">Players</a></li>
      </ul>
    </li>
    <li>Utilities
      <ul>
        <li><a href="{{ constant('URL') }}home/colors/">Site Colours</a></li>
        <li><a href="{{ constant('URL') }}utils/cronline/">Crontab Generator</a></li>
      </ul>
    </li>
  </ul>
</div>
{% endspaceless %}
