{% set navigation = [ ['home/index', 'Home']
                    , ['portfolio/index', 'Portfolio']
                    , ['hockey/index', 'Hockey Database',
                                                 [ ['hockey/players', 'Players']
                                                 , ['hockey/games', 'Games']
                                                 , ['hockey/teams', 'Teams']
                                                 ]
                      ]
                    , ['', 'Utilities',
                                        [ ['home/colors', 'Site Colours']
                                        , ['utils/cronline', 'Crontab Generator']
                                        ]
                      ]
                    ] %}
{% set active_page = active_page|default('none') %}
{% spaceless %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="{{ constant('URL') }}public/img/icon-50.png" alt="Hanashi">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
      {% for item in navigation %}
        <li{% if item[0] == active_page %} class="active"{% endif %}>
          {% if item[2] is null %}
            <a href="{{ constant('URL') }}{{ item[0] }}">{{ item[1] }}{% if item[0] == active_page %} <span class="sr-only">(current)</span>{% endif %}</a>
          {% else %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ item[1] }} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
              {% if item[0] is not empty %}
                <!-- optional submenu home - e.g. Hockey Home -->
                <li{% if item[0] == active_page %} class="active"{% endif %}>
                  <a href="{{ constant('URL') }}{{ item[0] }}">Home</a>
                </li>
                <li class="divider"></li>
              {% endif %}
              {% for subitem in item[2] %}
                <li{% if subitem[0] == active_page %} class="active"{% endif %}>
                  <a href="{{ constant('URL') }}{{ subitem[0] }}">{{ subitem[1] }}</a>
                </li>
              {% endfor %}
              </ul>
            </li>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</nav>
{% endspaceless %}
